@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: blueviolet;
  margin-bottom: 10px;
  margin-left: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.349);
}
main.conteiner {
  background-color: antiquewhite;
  display: flex;
}
div.item {
  background-color: brown;
  flex: auto;
  text-align: center;
  margin: 10px 10px;
  border: 3px solid blue;
  border-radius: 10px;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
}
main.conteiner2 {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row-reverse;
}
div.item2 {
  background-color: brown;
  flex: auto;
  text-align: center;
  margin: 10px 10px;
  border: 3px solid blue;
  border-radius: 10px;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100px;
}
main.conteiner3 {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}
div.item3 {
  background-color: brown;
  flex: auto;
  text-align: center;
  margin: 10px 10px;
  border: 3px solid blue;
  border-radius: 10px;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 200px;
}
div.item5 {
  background-color: brown;
  flex: auto;
  text-align: center;
  margin: 10px 10px;
  border: 3px solid blue;
  border-radius: 10px;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 200px;
}
main.conteiner4 {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column-reverse;
}
div.item4 {
  background-color: brown;
  flex: auto;
  text-align: center;
  margin: 10px 10px;
  border: 3px solid blue;
  border-radius: 10px;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 200px;
}
main.conteiner6 {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div.item6 {
  background-color: brown;
  flex: auto;
  text-align: center;
  margin: 10px 10px;
  border: 3px solid blue;
  border-radius: 10px;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 200px;
}
