@charset "UTF-8";

*{
    padding: 0PX;
    margin: 0PX;
    box-sizing: border-box;
}
header{
    background-color: #eaf5f7;
    height: 300px;
}
header > div > img{
    width: 180px;
    margin-left: 40px;
    margin-top: 25px;
    margin-right: 300px;
}
.conteiner{
    display: flex;
}
.item{
    margin-top: 40px;
    margin-right: 40px;
    font-size: 1.2em;
}
.h1{
    background-color: #eaf5f7;
    display: flex;
    flex-direction: column;
}
h1.q{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-bottom: 20px;
    color: rgb(2, 2, 63);
}
a.q{
    margin-left: 20px;
    margin-bottom: 30px;
}
